@import "normalize";

@import "variables";
@import "grid";
@import "base";
@import "colors";
@import "margin";
@import "padding";
@import "type";
@import "utilities";
@import "borders";
@import "buttons";
@import "lists";
@import "forms";
@import "media-object";
@import "tables";

@mixin fontFace($family,$src,$style: normal,$weight: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$src}.eot'); // IE9 compat
        src: url('#{$src}.eot?#iefix') format('embedded-opentype'), // IE8 and below
            url('#{$src}.woff2') format('woff2'), // standards
            url('#{$src}.ttf') format('truetype'), // Safari, Android, iOS
            url('#{$src}.svg##{$family}') format('svg'); // legacy iOS

        font-style: $style;
        font-weight: $weight;
    }
}

@include fontFace('MyFont','../../font/ff-sero');

.h2 {
   font-family: "MyFont";
   a {
   text-decoration: none;
   }
}
