.DS_Store
.AppleDouble
.LSOverride
*.pyc
Icon
/resources
nickficano/frontend/static/.webassets-cache/
nickficano/frontend/static/css/*
nickficano/overrides.py
src/static/build
assets/*
certs/*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
