.DS_Store
.AppleDouble
.LSOverride
*.pyc
Icon
/resources
server/apps/frontend/static/.webassets-cache/
server/apps/frontend/static/css/*
server/overrides.py
src/static/build
assets/*
certs/*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
