{% extends "base.j2" %}
{% block content %}
  <div class="py2">
    <div class="txt--center">
      <h1 class="h2">
        <small class="small muted">
          My name is Nick and I'm a software engineer. <br/>
          Checkout my <a href="http://github.com/nficano">Github</a> and follow me on <a href="http://twitter.com/nficano">Twitter</a>.
        </small>
      </h1>
    </div>
  </div>
{% endblock %}
