{% extends "base.j2" %}
{% block content %}
  <div class="py2">
    <div class="txt--center">
      <h1 class="h2">
        <small class="small muted">vitae dignissim ligula mattis lacinia</small>
      </h1>
    </div>
  </div>
{% endblock %}
