{% extends "base.j2" %}
{% block content %}
  <div class="py2">
    <div class="txt--center">
      <h1 class="h2">
        <small class="small muted">
          My name is Nick Ficano and I'm a software engineer at
          <a href="https://wayup.com/">WayUp</a>. <br />
          Follow me on <a href="https://twitter.com/nficano">Twitter</a>.
          Check out my code on <a href="https://github.com/nficano/">GitHub</a>.
        </small>
      </h1>
    </div>
  </div>
{% endblock %}
