<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui">
    <meta name="description" content="Hello, I'm Nick Ficano. I write code and I live in New York City.">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>Nick Ficano — NYC Full Stack Developer</title>
    <link rel="icon" href="/static/images/favicon.ico">
    <link type="font/ttf" href="{{ url_for('static', filename='font/BebasNeueRegular.ttf') }}" crossorigin>
    <link type="font/woff" href="{{ url_for('static', filename='font/BebasNeueRegular.woff') }}" crossorigin>
    <link type="font/woff2" href="{{ url_for('static', filename='font/BebasNeueRegular.woff2') }}" crossorigin>
    <style type="text/css">{{- raw_static_asset('main.css') -}}</style>
  </head>
  <body>
    {%- block content %}{% endblock %}
    <script>window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;ga('create', 'UA-13233758-1', 'auto');ga('send', 'pageview');</script>
    <script defer src='{{ url_for('static', filename='js/analytics.js') }}'></script>
    <script defer>{{- raw_static_asset('main.js') -}}</script>
  </body>
</html>
