{% extends "base.j2" %}
{% block content %}
    <div class="content">
      <nav>
        <ul>
          <li><a href="https://github.com/nficano">github</a></li>
          <li><hr /></li>
          <li><a href="https://github.com/nficano/pytube">pytube</a></li>
          <li><hr /></li>
          <li><a href="https://github.com/nficano/gendo">gendo</a></li>
          <li><hr /></li>
          <li><a href="https://github.com/nficano/python-lambda">python-<span class="symbol">λ</span></a></li>
          <li><hr /></li>
          <li><a href="mailto:nficano@gmail.com">contact</a></li>
          <li><hr /></li>
          <li class="square">nick ficano</li>
        </ul>
      </nav>
    </div>
{% endblock %}
